//common

html {
  font-size: 62.5%;
  font-family: 'Arial Narrow Bold', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #333;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

//header

#header {
  margin-bottom: 100px;
  position: relative;
}

.header-container {
  position: relative;
}

.header-flex {
  display: flex;
  position: absolute;
  padding: 10px 30px;
  top: 50%;
  left: 10%;
}


.header-list ul {
  display: flex;
  position: absolute;
  top: -350%;
  right: -140%;

  & li {
    margin-right: 20px;
  }
  
  & li a {
    font-size: 2.5rem;
    color: #fff;
    padding: 10px 20px;
    line-height: 2;
  }
}

.header-title {
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    left: -15%;
    top: 50%;
    width: 70px;
    height: 2px;
    background: #fff;
  }

  &::after {
    content: "";
    position: absolute;
    right: -15%;
    top: 50%;
    width: 70px;
    height: 2px;
    background: #fff;
  }

  & .subtitle {
    font-size: 1.8rem;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -30%;
    left: 20%;
  }
}

.header-layer {
  width: 40%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0.8) 10%, transparent 70%, transparent 100%);
  position: absolute;
  top: 0;
}

//main

//service1

.service-title {
  padding: 10px 20px;
  position: relative;

  & h2 {
    margin: 0 30px 30px 30px;
  }

  &::after {
    content: "";
    width: 2px;
    height: 50px;
    background: #333;
    position: absolute;
    top: 10%;
    left: 20%;
  }
}

//service1

.service-item1 {
   position: relative;
   margin-bottom: 150px;
      
  & h3 {
   position: absolute;
   top: 48%;
   left: 15%;
  }

  & p {
   font-size: 1.5rem;
   line-height: 1.5;
   position: absolute;
   top: 58%;
   left: 15%;
   letter-spacing: 2px;
   background: #fff;
    padding: 10px 20px;
    opacity: 0.7;
    z-index: 10;
  }
}

.service-img1 {
  width: 70%;
  margin-left: auto;
}

.service-layer1 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #eee;
  position: absolute;
  top: 20%;
  left: 8%;
  z-index: -10;
}

//service2

.service-item2 {
  margin-bottom: 150px;
  position: relative;

  & h3 {
    position: absolute;
    bottom: 47%;
    right: 42%;
    z-index: 10;
  }

  & p {
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
    bottom: 30%;
    right: 10%;
    letter-spacing: 2px;
    background: #fff;
    padding: 10px 20px;
    opacity: 0.7;
    z-index: 10;
  }
}

.service-img2 {
  width: 70%;
  margin-right: auto;
}

.service-layer2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #eee;
  position: absolute;
  top: 18%;
  right: 8%;
  z-index: -10;
}

//service3

.service-item3 {
  margin-bottom: 150px;
  position: relative;

  & h3 {
    position: absolute;
    bottom: 40%;
    left: 15%;
  }

  & p {
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
    bottom: 25%;
    left: 15%;
    letter-spacing: 2px;
    background: #fff;
    padding: 10px 20px;
    opacity: 0.7;
    z-index: 10;
  }
}

.service-img3 {
  width: 70%;
  margin-left: auto;
}

.service-layer3 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #eee;
  position: absolute;
  top: 32%;
  left: 8%;
  z-index: -10;
}

//about

.about-title {
  padding: 10px 20px;
  margin: 0 30px 30px 30px;
  position: relative;

  & h2 {
    margin-bottom: 30px;
    margin: 0 20px;
  }

  &::after {
    content: "";
    width: 2px;
    height: 50px;
    background: #333;
    position: absolute;
    top: 10%;
    left: 28%;
  }
}

//about-content

//about1

.about-content .about1 {
  position: relative;
  margin-bottom: 150px;
  width: 100%;

  & h3 {
    position: absolute;
    top: 25%;
    left: 18%;
    color: #333;
    z-index: 10;
  }

  & p {
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
    top: 40%;
    left: 18%;
    letter-spacing: 2px;
    z-index: 10;
  }
}

.about-img1 {
  width: 50%;
  margin-left:  auto;

  & img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }
}

.about-layer1 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(158, 252, 186, 0.8) 10%, transparent 70%, transparent 100%)center;
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  animation: slidein 4s linear 1s forwards running;
}


.about-layer1-2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(102, 253, 147, 0.8) 10%, transparent 70%, transparent 100%)center;
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: -10;
  animation: slidein 4s linear 1s forwards running;
}


@keyframes slidein {
  from {
    transform: translateX(100%);
    opacity: 0.1;
  }
  to {
    transform: translateX(-50%);
    opacity: 0.9;
  }
}

.table1 {
  position: absolute;
  bottom: 20%;
  left: 20%;
  border-collapse: collapse;
  
  & tr {
    font-size: 1.5rem;
    text-align: center;
  }

  & th {
    padding: 5px 10px;
    border: 1px solid #333;
  }

  & td {
    padding: 5px 10px;
    border: 1px solid #333;
  }
}

//about2

.about-content .about2 {
  position: relative;
  margin-bottom: 150px;
  width: 100%;

  & h3 {
    position: absolute;
    top: 25%;
    right: 40%;
    color: #333;
    z-index: 10;
  }

  & p {
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
    top: 35%;
    right: 27%;
    letter-spacing: 2px;
    z-index: 10;
  }
}


.about-img2 {
  width: 50%;
  padding-left: 10%;
  margin-right:  auto;

  & img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }
}


.about-layer2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to left, rgba(232, 252, 162, 0.8) 10%, transparent 70%, transparent 100%)center;
  background-size: cover;
  position: absolute;
  top: 0%;
  right: 20%;
  transform: translate(-50%, -50%);
  z-index: -20;
  animation: slidein2 4s linear 1s forwards running;
}

.about-layer2-2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to left, rgba(202, 252, 23, 0.8) 10%, transparent 70%, transparent 100%)center;
  background-size: cover;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-50%, -50%);
  z-index: -10;
  animation: slidein2 4s linear 1s forwards running;
}


@keyframes slidein2 {
  from {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(-40%);
    opacity: 0.9;
  }
}


.table2 {
  position: absolute;
  bottom: 20%;
  right: 25%;
  border-collapse: collapse;
  
  & tr {
    font-size: 1.5rem;
    text-align: center;
  }

  & th {
    padding: 5px 10px;
    border: 1px solid #333;
  }

  & td {
    padding: 5px 10px;
    border: 1px solid #333;
  }
}


//about3

.about-content .about3 {
  position: relative;
  margin-bottom: 150px;
  width: 100%;

  & h3 {
    position: absolute;
    top: 20%;
    left: 18%;
    color: #333;
    z-index: 10;
  }

  & p {
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
    top: 35%;
    left: 18%;
    letter-spacing: 2px;
    z-index: 10;
  }
}


.about-img3 {
  width: 50%;
  padding-right: 10%;
  margin-left:  auto;

  & img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }
}


.about-layer3 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(255, 177, 177, 0.8) 10%, transparent 70%, transparent 100%)center;
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -20;
  animation: slidein 4s linear 1s forwards running;
}

.about-layer3-2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(252, 86, 86, 0.8) 10%, transparent 70%, transparent 100%)center;
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: -10;
  animation: slidein 4s linear 1s forwards running;
}


.table3 {
  position: absolute;
  bottom: 15%;
  left: 20%;
  border-collapse: collapse;
  
  & tr {
    font-size: 1.5rem;
    text-align: center;
  }

  & th {
    padding: 5px 10px;
    border: 1px solid #333;
  }

  & td {
    padding: 5px 10px;
    border: 1px solid #333;
  }
}

//about4

.about-content .about4 {
  position: relative;
  margin-bottom: 150px;
  width: 100%;

  & h3 {
    position: absolute;
    top: 20%;
    right: 30%;
    color: #333;
    z-index: 10;
  }

  & p {
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
    top: 35%;
    right: 14%;
    letter-spacing: 2px;
    z-index: 10;
  }
}


.about-img4 {
  width: 50%;
  padding-left: 10%;
  margin-right:  auto;

  & img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }
}


.about-layer4 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to left, rgba(83, 179, 252, 0.8) 10%, transparent 70%, transparent 100%)center;
  background-size: cover;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-50%, -50%);
  z-index: -20;
  animation: slidein2 4s linear 1s forwards running;
}

.about-layer4-2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to left, rgba(177, 221, 255, 0.8) 10%, transparent 70%, transparent 100%)center;
  background-size: cover;
  position: absolute;
  top: 0%;
  right: 20%;
  transform: translate(-50%, -50%);
  z-index: -10;
  animation: slidein2 4s linear 1s forwards running;
}


.table4 {
  position: absolute;
  bottom: 20%;
  right: 25%;
  border-collapse: collapse;
  
  & tr {
    font-size: 1.5rem;
    text-align: center;
  }

  & th {
    padding: 5px 10px;
    border: 1px solid #333;
  }

  & td {
    padding: 5px 10px;
    border: 1px solid #333;
  }
}

//contact

#contact {
  margin: 0 auto 50px auto;
  background: url(../images/midorikawa-1.jpg) no-repeat center;
  background-size: cover;
  object-fit: cover;
}

.contact-form {
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px 30px 50px 30px;

  & ul {
    margin: 0 auto;
  }
}

.contact-title {
  padding: 10px 20px;
  margin: 30px;
  position: relative;

  & h2 {
    padding: 20px 0;
  }

  &::after {
    content: "";
    width: 2px;
    height: 50px;
    background: #333;
    position: absolute;
    top: 25%;
    left: 20%;
  }
}

label {
  font-size: 2rem;
  padding: 10px;
  display: block;
  width: 100%;
  color: #eee;
}

input[type="text"],
input[type="mail"],
textarea {
  line-height: 3;
  border: 1px solid #fff;
  margin: 0 auto 15px auto;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 5px #555;
}


dl {
  margin: 0 auto;
}

dt {
  width: 30%;
  text-align: center;
}


.submit-btn {
  margin: 0 auto 50px auto;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  
  & input[type="submit"] {
    border: 1px solid #ccc;
    width: 30%;
    padding: 8px 15px;
    border-radius: 10px;
    background: #fff;
    color: #ccc;
    position: absolute;
    top: 0;
    left: 35%;
    box-shadow: 5px 5px 5px #555;
  }
}


//footer

#footer {
  position: relative;
}

.footer-flex {
  display: flex;
  padding: 20px 30px;
}

.footer-item {
  width: 50%;
  justify-content: center;
}

.footer-list {
  margin: 0 auto;
}

.footer-list ul li {
  font-size: 1.8rem;
  padding: 10px 20px;
  text-align: center;

  & a {
    text-align: center;
    padding: 5px 10px;
  }
}

.sns {
  width: 50%;
  margin: 0 auto;
  
  & a {
    font-size: 1.8rem;
    text-align: center;
    padding: 5px 10px;
  }
}



small {
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
}


//レスポンシブ

@media screen and(max-width: 1024px) {
  //header

  .header-title h1 {
    font-size: 3rem;

    & .subtitle {
      top: 90%;
      left: 10%;
    }
  }

  .header-list ul {
    top: -300%;
    right: -150%;

    & li a {
      font-size: 2rem;
    }
  }

  //ニュースティッカー

  .news h2 {
    font-size: 2.5rem;
  }

  .news::after {
    left: 25%;
    top: 2%;
  }

  //main

  .service-title h2 {
    font-size: 2.5rem;
  }

  .service-title::after {
    left: 25%;
    top: 4%;
  }


  //service1
  
  .service-item1 h3 {
    top: 35%;
  }

  .service-item1 p {
    top: 50%;
    font-size: 1.4rem;
  }

  .service-layer1 {
    width: 400px;
    height: 400px;
    top: 10%;
  }

  //service2

  .service-item2 h3 {
    top: 35%;
    left: 44%;
  }

  .service-item2 p {
    top: 50%;
    font-size: 1.4rem;
    line-height: 2;
  }

  .service-layer2 {
    width: 400px;
    height: 400px;
    top: 10%;
  }

  //service3

  .service-item3 h3 {
    top: 35%;
    left: 15%;
  }

  .service-item3 p {
    top: 50%;
    font-size: 1.4rem;
    line-height: 2.8;
  }

  .service-layer3 {
    width: 400px;
    height: 400px;
    top: 20%;
  }

  //about

  .about-title h2 {
    font-size: 2.5rem;
  }

  .about-title::after {
    right: 0%;
    top: 0;
  }

  //about1 

  .about-content .about1 h3 {
    top: 17%;
    left: 15%;
    font-size: 2rem;
  }

  .about-content .about1 p {
    font-size: 1.2rem;
    top: 35%;
    left: 15%;
  }

  .table1 {
    left: 15%;
    top: 55%;
  }

  .about-layer1 {
    right: -5%;
  }

  //about2 

  .about-content .about2 h3 {
    top: 15%;
    right: 30%;
  }

  .about-content .about2 p {
    font-size: 1.4rem;
    top: 30%;
    right: 13%;
  }

  .about-img2 {
    padding-left: 5%;
  }

  .table2 {
    right: 10%;
    top: 55%;
  }

  .about-layer2 {
    right: 7%;
  }

  .about-layer2-2 {
    right: -18%;
  }

  //about3

  .about-content .about3 h3 {
    top: 15%;
    left: 15%;
  }

  .about-content .about3 p {
    font-size: 1.4rem;
    top: 30%;
    left: 15%;
  }

  .table3 {
    left: 15%;
    top: 60%;
  }

  .about-layer3 {
    right: -5%;
  }

  //about4

    .about-content .about4 h3 {
    top: 15%;
    right: 13%;
  }

  .about-content .about4 p {
    font-size: 1.4rem;
    top: 35%;
    right: 0%;
  }

  .about-img4 {
    padding-left: 5%;
  }

  .table4 {
    right: 8%;
    top: 55%;
  }

  .about-layer4 {
    right: 6%;
  }

  .about-layer4-2 {
    right: -18%;
  }

  //contact

  .contact-title h2 {
    font-size: 2.5rem;
  }
}



@media screen and(max-width: 768px) {

  //header

  .header-title h1 {
    font-size: 2.5rem;
    margin: 0 10px;

  }

  .subtitle span {
    display: block;
    font-size: 1.5rem;
    top: 90%;
    left: 0%;
  }

  .header-list ul {
   display: none;
  }

  //openbtn 

  #openbtn {
    top: 5%;
    right: 5%;
  }

  //ニュースティッカー

  .news h2 {
    font-size: 2rem;
    margin-bottom: 100px;
  }
  
  .news::after {
     left: 25%;
     top: 1%;
  }

   //main

   .service-title h2 {
    font-size: 2rem;
  }

  .service-title::after {
    left: 30%;
    top: 4%;
  }


  //service1
  
  .service-item1 h3 {
    top: 35%;
    font-size: 2rem;
  }

  .service-item1 p {
    top: 50%;
    font-size: 1.2rem;
  }

  .service-layer1 {
    width: 300px;
    height: 300px;
    top: 10%;
  }


  //service2

  .service-item2 h3 {
    top: 35%;
    left: 44%;
  }

  .service-item2 p {
    top: 50%;
    right: 7%;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .service-layer2 {
    width: 300px;
    height: 300px;
    top: 10%;
  }

  //service3

  .service-item3 h3 {
    top: 35%;
    left: 15%;
  }

  .service-item3 p {
    top: 50%;
    font-size: 1.2rem;
    line-height: 2.5;
  }

  .service-layer3 {
    width: 300px;
    height: 300px;
    top: 20%;
  }


  //about

  .about-title h2 {
    font-size: 2rem;
  }

  .about-title::after {
    left: 35%;
  }

  //about1 

  .about-content .about1 h3 {
    top: 10%;
    left: 10%;
    font-size: 1.8rem;
  }

  .about-content .about1 p {
    font-size: 1.2rem;
    top: 25%;
    left: 10%;
    background: #fff;
    line-height: 2;
    opacity: 0.7;
  }

  .table1 {
    left: 10%;
    top: 55%;

    & th {
      font-size: 1.2rem;
    }

    & td {
      font-size: 1.2rem;
    }
  }

  .about-img1 {
    width: 50%;
    margin-left:  auto;
  
    & img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }

  .about-layer1 {
    width: 300px;
    height: 300px;
    right: 0%;
  }

  .about-layer1-2 {
    width: 300px;
    height: 300px;
    right: 10%;
  }

  //about2 

  .about-content .about2 h3 {
    top: 10%;
    right: 30%;
    font-size: 1.8rem;
  }

  .about-content .about2 p {
    font-size: 1.2rem;
    top: 28%;
    right: 8%;
    background: #fff;
    opacity: 0.7;
    line-height: 2;
  }

  .about-img2 {
    padding-left: 15%;
    width: 50%;

    & img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }

  .table2 {
    right: 7%;
    top: 68%;

    & th {
      font-size: 1.2rem;
    }

    & td {
      font-size: 1.2rem;
    }
  }

  .about-layer2 {
    width: 300px;
    height: 300px;
    right: 9%;
  }

  .about-layer2-2 {
    width: 300px;
    height: 300px;
    right: -5%;
  }

  //about3

  .about-content .about3 h3 {
    top: 5%;
    left: 10%;
    font-size: 1.8rem;
  }

  .about-content .about3 p {
    font-size: 1.2rem;
    top: 25%;
    left: 10%;
    background: #fff;
    line-height: 1.8;
    opacity: 0.7;
  }

  .table3 {
    left: 10%;
    top: 70%;

    & th {
      font-size: 1.2rem;
    }

    & td {
      font-size: 1.2rem;
    }
  }

  .about-img3 {
    width: 50%;
    margin-left:  auto;
  
    & img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }

  .about-layer3 {
    width: 300px;
    height: 300px;
    right: 0%;
  }

  .about-layer3-2 {
    width: 300px;
    height: 300px;
    right: 10%;
  }

  //about4

  
  .about-content .about4 h3 {
    top: 10%;
    right: 30%;
    font-size: 1.8rem;
  }

  .about-content .about4 p {
    font-size: 1.2rem;
    top: 28%;
    right: 8%;
    background: #fff;
    opacity: 0.7;
    line-height: 2;
  }

  .about-img4 {
    padding-left: 15%;
    width: 50%;

    & img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }

  .table4 {
    right: 7%;
    top: 68%;

    & th {
      font-size: 1.2rem;
    }

    & td {
      font-size: 1.2rem;
    }
  }

  .about-layer4 {
    width: 300px;
    height: 300px;
    right: 9%;
  }

  .about-layer4-2 {
    width: 300px;
    height: 300px;
    right: -5%;
  }

  //contact 

  .contact-title h2 {
    font-size: 2rem;
  }

  .contact-title::after {
    left: 25%;
  }

  label {
    font-size: 1.5rem;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
}


@media screen and(max-width: 425px) {

  //header

  body {
    overflow-x: hidden;
  }

  #header {
    margin-bottom: 50px;
  }

  .header-flex {
    width: 100%;
    padding: 0;
  }

  .header-layer {
    display: none;
  }

  .header-title {
    position: relative;
    width: 100%;
  }

  .header-title h1 {
    font-size: 2.5rem;
    position: absolute;
    top: 0%;
    left: 15%;
  }


  .header-title::before {
    display: none;
  }
  .header-title::after {
    display: none;
  }

  .subtitle {
    font-size: 1.2rem;

    & span {
      display: block;
      padding: 5px;
      top: 0;
      left: 5%;
    }
  }

  //openbtn
  
  #openbtn {
    top: 1%;
    right: 5%;
    width: 30px;
    height: 30px;
    background: #eee;
  
    & .open-btn-area {
      width: 30px;
      height: 30px;

      & span {
        height: 1px;
        left: 7px;

        &:nth-of-type(1) {
          top: 8px;
        }
  
        &:nth-of-type(2) {
          top: 14px;
        }

        &:nth-of-type(3) {
          top: 20px;
        }
      }
    }
  }

  #openbtn.active span:nth-of-type(1) {
    left: 10px;
  }
  
  #openbtn.active span:nth-of-type(3) {
    left: 10px;
  }

  
  //ニュースティッカー

  .news {
    padding: 0;

    & h2 {
      font-size: 1.5rem;
      text-align: left;
      margin: 20px;
    }
  }

  .news::after {
    height: 25px;
    top: 0;
    left: 35%;
  }

  .slider {
    width: 100%;
  }

  //service

  .service-title {
    padding: 0;

    & h2 {
      font-size: 1.5rem;
      margin: 20px;
    }

    &::after {
      height: 25px;
      left: 35%;
    }
  }

  //service1

  .service-item1 {
    margin-bottom: 100px;
  }

  .service-item1 h3 {
    z-index: 10;
    left: 0;
    top: 0;
    padding: 5px;
    font-size: 1.5rem;
    background: #fff;
    width: 100px;
    height: 30px;
    text-align: center;
  }

  .service-item1 p {
    padding: 5px auto;
    left: 0;
    top: 100%;
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }

  .service-img1 {
    margin: 0;
    width: 100%;
  }

  .service-layer1 {
    display: none;
  }

  //service2

  .service-item2 {
    margin-bottom: 100px;
  }

  .service-item2 h3 {
    left: 0;
    top: 0;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
    background: #fff;
    width: 100px;
    height: 30px;
  }

  .service-item2 p {
    padding: 5px auto;
    left: 0;
    top: 100%;
    font-size: 1rem;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .service-img2 {
    margin: 0;
    width: 100%;
  }

  .service-layer2 {
    display: none;
  }

  //service3

  .service-item3 {
    margin-bottom: 150px;
  }

  .service-item3 h3 {
    z-index: 10;
    left: 0;
    top: 0;
    padding: 5px;
    font-size: 1.5rem;
    background: transparent;
    width: 100px;
    height: 30px;
    text-align: center;
    background: #fff;
  }

  .service-item3 p {
    padding: 5px auto;
    left: 0;
    top: 100%;
    font-size: 1rem;
    width: 100%;
    line-height: 1.5;
    text-align: center;
  }

  .service-img3 {
    margin: 0;
    width: 100%;
  }

  .service-layer3 {
    display: none;
  }

  //about

  #about {
    height: auto;
  }

  .about-title {
    margin: 0 0 100px 0;
    padding: 0;
  }

  .about-title h2 {
    font-size: 1.5rem;
  }

  .about-title::after {
    height: 25px;
    top: 4%;
    left: 45%;
  }

  //about1

  .about-content .about1 h3 {
    font-size: 1.5rem;
    top: -10%;
    left: 35%;
    padding: 5px auto;
    text-align: center;
  }

  .about-content .about1 p {
    font-size: 1rem;
    width: 100%;
    top: 100%;
    left: 1%;
    line-height: 1.5;
    padding: 3%;
    text-align: center;
    margin-bottom: 10px;
  }

  .table1 {
    display: none;
  }

  .about-content .about-img1 {
    margin: 0;
    width: 100%;
    text-align: center;

    & img {
      width: 300px;
      height: 300px;
      padding: 3%;
    }
  }

  .about-layer1 {
    display: none;
  }

  .about-layer1-2 {
    display: none;
  }

  //about2

  .about-content .about2 h3 {
    font-size: 1.5rem;
    top: -10%;
    left: 40%;
    padding: 5px auto;
    margin-bottom: 50px;
  }

  .about-content .about2 p {
    font-size: 1rem;
    width: 70%;
    top: 100%;
    left: 1%;
    line-height: 1.5;
    padding: 3%;
    text-align: center;
    margin: 0 0 10px 0;
    width: 100%;
  }

  .table2 {
    display: none;
  }

  .about-content .about-img2 {
    margin: 100px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    
    & img {
      z-index: 0;
      width: 300px;
      height: 300px;
      padding: 3%;
    }
  }

  .about-layer2 {
    display: none;
  }

  .about-layer2-2 {
    display: none;
  }

  //about3

  .about-content .about3 h3 {
    font-size: 1.5rem;
    top: -10%;
    left: 15%;
    padding: 5px auto;
    margin-bottom: 50px;
  }

  .about-content .about3 p {
    font-size: 1rem;
    width: 0%;
    top: 100%;
    left: 1%;
    line-height: 1.5;
    padding: 3%;
    text-align: center;
    margin: 0 0 50px 0;
    width: 100%;
  }

  .table3 {
    display: none;
  }

  .about-content .about-img3 {
    margin: 100px 0;
    padding: 0;
    width: 100%;
    text-align: center;
    
    & img {
      z-index: 0;
      width: 300px;
      height: 300px;
      padding: 3%;
    }
  }

  .about-layer3 {
    display: none;
  }

  .about-layer3-2 {
    display: none;
  }

  //about4

  .about-content .about4 h3 {
    font-size: 1.5rem;
    top: -10%;
    left: 25%;
    padding: 5px auto;
    margin-bottom: 50px;
  }

  .about-content .about4 p {
    font-size: 1rem;
    width: 70%;
    top: 100%;
    left: 1%;
    line-height: 1.5;
    padding: 3%;
    text-align: center;
    margin: 0;
    width: 100%;
  }

  .table4 {
    display: none;
  }

  .about-content .about-img4 {
    margin: 100px 0;
    padding: 0;
    width: 100%;
    text-align: center;
    
    & img {
      z-index: 0;
      width: 300px;
      height: 300px;
      padding: 3%;
    }
  }

  .about-layer4 {
    display: none;
  }

  .about-layer4-2 {
    display: none;
  }

  //contact

  #contact {
    margin-bottom: 30px;
  }

  .contact-title {
    margin: 0;
    padding: 0;

    &::after {
      height: 25px;
      top: 30%;
      left: 30%;
    }
  }

  .contact-title h2 {
    font-size: 1.5rem;
    margin: 0 20px;
  }

  .contact-form {
    width: 100%;
    margin: 0;
  }

  .submit-btn {
    font-size: 1.2rem;
  }

  //footer

  #footer {
    margin: 0 auto;
  }

  .footer-flex {
    flex-direction: column;
    padding: 0;
  }

  .footer-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-list ul li {
    font-size: 1.2rem;
    
  }

  //sns

  .sns {
    width: 100%;
    margin: 0;

    & a {
      font-size: 1.2rem;
    }
  }

  //page-top
  #page-top {
    width: 30px;
    height: 30px;
    right: 5%;
    bottom: 5%;

    & a {
      font-size: 1rem;
    }
  }

  //scrolldown

  .scrolldown {
    display: none;
  }

  .copy {
    margin: 0 auto;
    text-align: center; 
    width: 100%;
    padding: 3px;
    justify-content: center;
    
    & small {
      font-size: 1rem;
    }
  }
}
